#about {

    .chad-ohl {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 3.125rem;

        h2 {
            text-transform: capitalize;
            margin-top: 1rem;
        }

        p {
            padding: 1rem 0;
        }

        .copy {
            width: 100%;
        }

        .portrait {
            display:flex;
            justify-content: center;

            img {
                width: 100%;
                margin-bottom: 1rem;
            }
        }


        @media screen and (min-width: 1200px) {
            flex-direction: row;

            h2 {
                margin-top: 0;
            }

            .copy {
                width: 50%;
                padding-right: 3rem;
            }
    
            .portrait {
                display: inline-block;
                 width: 50%;
            }
        }
    }
}