#code {
    .code-links {
        list-style-type: none;
        li {
            margin-bottom: 0.25rem;
        }

        i {
            padding: 0 0.5rem;
        }
    }

    h4 {
        margin-bottom: 4rem;
    }
}