@font-face {
    font-family: "Heebo";
    font-weight: 400;
    src: url("fonts/Heebo-Regular.ttf") format("ttf")
  }

@font-face {
    font-family: "Heebo";
    font-weight: 900;
    src: url("fonts/Heebo-Black.ttf") format("ttf")
  }