// RESET
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    margin: 0 auto;

    main & {
        padding: 4.6875rem 0;
        max-width: 960px;
    }
}

// HELPER CLASSES

.text-center {
    text-align: center;
}